@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Abel');
@media (max-width: 762px) {
  .btn-responsive {
    padding: 4px 9px !important;
    font-size: 12px !important;
    line-height: 1.5;
    white-space: normal !important;
    word-wrap: break-word;
  }
  .inner{
     margin: 1px 1px;
    }
  
  .inner p {
    font-size: 15px !important;
  }
  h3 {
    font-size: 15px !important;
  }
  textarea {
    height: 200px !important;
    width: 200px !important;
  }
  
  #help {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
}

@media (min-width: 760px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px !important;
    font-size: 12px !important;
    line-height: 1.5;
    white-space: normal !important;
    word-wrap: break-word;
  }
  .inner p {
    font-size: 15px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  textarea {
    height: 300px !important;
    width: 300px !important;
  }
  #help {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .inner{
     margin-left: 10%;
    margin-right: 10%;
    }
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Abel', Arial, sans-serif;
  color: #777;
  background-color: rgb(186, 186, 186);
  overflow-x: hidden;
  /*hide horizontal overflow*/
}

container-fluid {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.btn-default {
  font-size: 10px;
}

.btn.btn-raised {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
.btn.btn-raised:hover,.btn:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,.50),0 4px 8px rgba(0,0,0,.50);
    transition: box-shadow .128s cubic-bezier(.4,0,.2,1);
}
*/

.btn:focus {
  outline: none;
}

.chart-wrapper {
  background: #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chart-wrapper .chart-title {
  text-transform: uppercase;
  border-bottom: 2px solid #d9d9d9;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 10px;
}

.chart-wrapper .chart-area {
  text-align: center;
  overflow: hidden;
  position: relative;
}


/*
.card {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    background-color: #FFF;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
   -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    /*box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);*/


/* box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-title {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: antiquewhite;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}


.card-title [class*="icon-"] {
 -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.card-title:hover [class*="icon-"] {
    :hover [class*="icon-"] {
	color: #24a159 !important;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    .rotate(90deg);
}
}
*/

div.tooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  border: 5px;
  border-color: aliceblue;
  border-radius: 8px;
  padding: 8px;
  color: cornsilk;
  background: black;
  pointer-events: none;
}

h4.title {
  text-align: center;
}

html {
  min-height: 100%;
  position: relative;
}

.header {
  text-align: center;
  font-size: 20px;
  font-family: 'Abel', Arial, sans-serif;
}

#show-viz {
  display: none;
  margin-top: 100px;
}

#load-data {
  display: block;
  /*background-color: #babcbe;*/
}

.btn.btn-block.btn-primary {
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0;
}

.btn.btn-primary input[type=file] {
  position: absolute;
  cursor: inherit;
  display: block;
}

figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

text {
  cursor: default;
  fill: #FFF;
  pointer-events: none;
  font-size: 13px;
  font-family: 'Abel', Arial, sans-serif;
  font-weight: bold;
}

#sidebar-wrapper {
  background-color: rgba(0, 0, 16, 0.7);
  max-height: calc(100% - 60px);
  width: 100%;
  position: absolute;
  top: 150px;
  right: 0px;
  max-width: 408px;
  overflow-y: auto;
}

.navbar {
  min-height: 100px;
  background: rgba(0, 0, 0, 0.78);
  border-bottom: 0px solid #d9d9d9;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .13), 0 3px 10px rgba(0, 0, 0, .16);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}


/*custome style on navbar brand */

.navbar .navbar-brand {
  color: #fff;
  position: absolute;
  left: 40px;
  margin: 10px 10px;
  font-size: 25px !important;
  font-weight: bold;
  font-family: 'Abel', Arial, sans-serif;
  padding: 10px 20px;
}


/* navbar brand on hover */

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #68B3C8;
}


/*custome style on navbar li */

.navbar .navbar-nav>li>a {
  /*color: #777;*/
  color: #9a9a9a;
  color: #fff;
  /*font-weight: 600;*/
  right: 30px !important;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  line-height: 1.42857;
  margin: 10px 20px;
  padding: 5px 10px;
}


/* navbar li on hover */

.navbar .navbar-nav>li>a:hover {
  color: #68B3C8;
  background-color: transparent;
}


/* navbar li on click */

.navbar .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #fff;
}


/* active navbar li */

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  background-color: transparent !important;
  color: #fff !important;
}


/*
.navbar.scrolled {
  background: rgb(68, 68, 68); //IE
  background: rgba(0, 0, 0, 0.78); //NON-IE
}
*/

.footer {
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Abel', Arial, sans-serif;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #e8dddd;
}

.parallex-img1,
.parallex-img2,
.parallex-img3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallex-img1 {
  background-image: url("../data/images/parallex4.png");
  height: 100vh;
}

.parallex-img2 {
  background-image: url("../data/images/parallex1.png");
  min-height: 300px;
}

.parallex-img3 {
  background-image: url("../data/images/parallex3.png");
  min-height: 300px;
}

.inner {
  position: absolute;
  left: 0;
  top: 30%;
  margin-left: 40%;
  margin-right: 40%;
  background: rgba(52, 27, 43, 0.5);
  color: #fff;
  padding: 2em;
  text-align: center;
  display: inline-block;
}

.inner header {
  font-family: 'Abel', Arial, sans-serif;
  display: inline-block;
  border-bottom: solid 4px;
  border-top: solid 4px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
  font-weight: bolder !important;
}

.inner p {
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}

.caption {
  font-family: 'Abel', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.caption .border {
  border: solid 4px;
  color: #000;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.caption .btn-border {
  margin: auto;
  width: 50% !important;
  border: solid 4px;
  color: #000;
  padding: 10px;
  font-size: 20px;
  font-weight: bold !important;
  letter-spacing: 2px;
}
center{
  font-size: 30px; 
  font-family: 'Abel', Arial, sans-serif !important;
}

textarea {
  height: 500px;
  width: 600px;
}

#map {
  width: 100%;
  height: 750px;
}

#dataUpload center{
  font-weight: 600;
  font-size: 30px !important;
  
}

#about{
  font-size: 30px; 
  font-weight: bold;
  font-family: 'Abel', Arial, sans-serif !important;
  margin-top: 5px; 
  padding-bottom:10px;
}

#contact{
  font-size: 30px; 
  font-weight: bold;
  font-family: 'Abel', Arial, sans-serif !important;
  margin-top: 50px; 
  padding-bottom:100px;
}
#help {
  font-size: 25px;
  font-family: 'Abel', Arial, sans-serif;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
}